$blue-1: #03919b;
$blue-2: #03afbc;
$green-1: #2a9f97;
$green-2: #24847e;
$green-3: #0e625d;
$light-green-1: #b4cecc;
$light-1: #eeeeee;
$dark-1: #000;
$dark-2: #303333;
$dark-3: #535857;
$dark-4: #687271;
$red-1: #f93a3a;

@font-face {
  font-family: "Lusitana";
  src: url(/fonts/lusitana-v13-latin-regular.woff) format("woff");
}

$font-1: "Lusitana";
