.category {
  cursor: pointer;
  background-color: $dark-2;
  width: auto;
  height: 30px;
  border-radius: 8px;
  margin-right: 0.5vw;
  margin-top: 1vh;
  color: $light-1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    margin: 0;
    font-family: $font-1;
    padding: 3px;
  }
  &:hover {
    transition: background-color 1s;
    transition: color 0.5s;
    background-color: $dark-4;
    box-shadow: 0 0 4px $green-1;
    // color: $dark-2;
  }
  .catInnerBtn {
    font-family: $font-1;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-2;
    color: $light-1;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    &:hover {
      transition: background-color 1s;
      transition: color 0.5s;
      background-color: $light-green-1;
      color: $dark-2;
      // color: $dark-2;
    }
  }
}
.activeCategory {
  background-color: $blue-1;
}
.newCategory {
  background-color: $green-1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: auto;
  border-radius: 5px;
  font-family: $font-1;
  font-size: 1.1rem;
  color: $light-1;
  cursor: pointer;
  margin-top: 1vh;
  p {
    margin: 0;
    padding: 0;
  }
  &:hover {
    transition: background-color 0.5s;
    background-color: $green-2;
  }
  &:active {
    transition: background-color 0s;
    background-color: $green-3;
    box-shadow: 0 0 6px $green-1;
  }
}
.categoryForm {
  height: 30px;
  display: flex;
  background-color: $green-1;
  align-items: center;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 5px;
  justify-content: flex-start;
  margin-top: 1vh;
  input {
    height: 20px;
    border: none;
    border-radius: 5px;
    font-family: $font-1;
  }
  button {
    height: 25px;
    width: 40px;
    color: $light-1;
    margin-left: 1vw;
    border-radius: 5px;
    background-color: $green-1;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      transition: background-color 0.5s;
      background-color: $green-2;
    }
    &:active {
      transition: background-color 0s;
      background-color: $green-3;
      box-shadow: 0 0 6px $green-1;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }
  }
}
