.greybox {
  display: flex;
  background-color: $dark-3;
  margin: 0;
  margin-bottom: 2vh;
  padding: 0;
  border-radius: 8px;
  width: 100%;
  color: $light-1;
  height: auto;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5px;
  padding-top: 5px;
  .infoList {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      margin-right: 2vw;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      font-size: 1.2rem;
    }
    p {
      margin: 0;
      margin-right: 2vw;
      font-size: 1.2rem;
    }
  }
}
