@import "variables";
@import "index-form";
@import "dashboard";
@import "main-layout";
@import "greybox";
@import "header";
@import "category";
body {
  font-family: "Lusitana";
  margin: 0;
  padding: 0;
}
.indexMain {
  background-color: $blue-1;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainTitle {
  margin: 0;
  // background-color: grey;
  padding: 0;
  padding-top: 5px;
}
hr {
  padding: 0;
  margin: 0;
}
