.datePickerDiv {
  color: $dark-1;
  width: 100%;
}
.modalForm {
  width: 100%;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  .modalFlexDiv {
    width: 100%;
    // background-color: green;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
    .modalHalfDiv {
      width: 50%;
    }
  }
  label {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 2vh;
    font-size: 1.1rem;
    // transform: translateY(50%);
  }
  textarea {
    width: 100%;
    min-height: 30px;
    max-height: 100px;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1.1rem;
    font-family: $font-1;
    border: none;
  }
  select {
    width: 100%;
    height: 25px;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: $font-1;
    font-size: 1rem;
    // &:focus {
    //   position: static;
    //   background-color: red;
    //   max-height: 50px;
    // }
    // position: absolute;
  }
  input {
    margin: 0;
    width: 100%;
    border-radius: 5px;
    height: 25px;
    font-size: 1.1rem;
    font-family: $font-1;
    box-sizing: border-box;
    border: none;
  }
  .paragraphDiv {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    // background-color: red;
    .charCounter {
      margin: 0;
      padding: 0;
      align-self: flex-end;
      font-size: 0.9rem;
      margin-left: 0.5vw;
      text-align: end;
    }
  }
  .error {
    padding: 0;
    margin: 0;
    margin-top: 0.5vh;
    width: 100%;
    color: $red-1;
    font-size: 1.1rem;
    text-align: start;
  }
  .lastHalf {
    padding-left: 2%;
    box-sizing: border-box;
  }
}
.outerBtnBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .innerBtnBox {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 2vh;
    @media (orientation: portrait) {
      justify-content: center;
    }
    .modalButton {
      font-family: $font-1;
      background-color: $blue-1;
      border: none;
      color: $light-1;
      border-radius: 5px;
      height: 30px;
      width: auto;
      font-size: 1rem;
      @media (orientation: portrait) {
        margin-right: 1vw;
      }
      &:hover {
        transition: background-color 0.5s;
        background-color: $green-2;
      }
      &:active {
        transition: background-color 0s;
        background-color: $green-3;
        box-shadow: 0 0 6px $green-1;
      }
    }
  }
}
.modalP {
  font-size: 1.2rem;
}
