.tableContainer {
  overflow-y: auto;
}
.infoTable {
  width: 100%;
  border: none;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 8px 8px 0px 0px;
  color: $light-1;
  @media (orientation: portrait) {
    margin-bottom: 15px;
  }
  .tableTr {
    width: 100%;
    &:nth-child(even) {
      background-color: $dark-3;
    }
    &:nth-child(odd) {
      background-color: $dark-4;
    }
  }
  .tableTh {
    background-color: $blue-1;
    height: 40px;
    font-size: 1.1rem;
    font-weight: normal;
    @media (orientation: portrait) {
      min-width: 25vw;
    }
  }
  .thSmall {
    min-width: 100px;
  }
  .thMed {
    min-width: 150px;
  }
  .thBig {
    min-width: 220px;
  }
  .tableTd {
    padding-left: 0.5vw;
    padding-right: 1vw;
    text-align: center;
    height: 35px;
    font-size: 0.9rem;
    min-height: auto;
  }
  .cellBtnDiv {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: flex-end;
    max-width: auto;
    button {
      border: none;
      cursor: pointer;
      border-radius: 5px;
      background-color: $green-1;
      color: $light-1;
      width: auto;
      height: 25px;
      margin-left: 0.5vw;
      &:hover {
        transition: background-color 0.5s;
        background-color: $green-2;
      }
      &:active {
        transition: background-color 0s;
        background-color: $green-3;
        box-shadow: 0 0 6px $green-1;
      }
    }
  }
}

.modalTable {
  width: 100%;
  border: none;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border: $green-1 2px solid;
  color: $light-1;
  .modalTr {
    width: 100%;
    &:nth-child(even) {
      background-color: $dark-3;
    }
    &:nth-child(odd) {
      background-color: $dark-4;
    }
  }
  .modalTh {
    background-color: $green-1;
    min-width: 8vw;
    height: 40px;
    font-size: 1.1rem;
    font-weight: normal;
    @media (orientation: portrait) {
      min-width: 25vw;
    }
  }
  .modalTd {
    padding-left: 0.5vw;
    padding-right: 1vw;
    text-align: center;
    min-width: 5vw;
    height: 35px;
    font-size: 0.9rem;
    min-height: auto;
  }
}
