@font-face {
  font-family: "Lusitana";
  src: url(/fonts/lusitana-v13-latin-regular.woff) format("woff");
}
.indexForm {
  background-color: #535857;
  border-radius: 8px;
  height: auto;
  width: auto;
  min-width: 400px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-self: center;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.indexForm .formDiv {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
.indexForm .formDiv p {
  text-align: center;
}
.indexForm .formDiv h1 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 2vh;
  font-size: 1.5rem;
}
.indexForm .formDiv label {
  font-size: 1.3rem;
  display: flex;
  margin: 0;
  padding: 0;
  transform: translateY(40%);
}
.indexForm .formDiv input {
  height: 1.8rem;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
  font-family: "Lusitana";
  font-size: 1.1rem;
}
.indexForm .formDiv .formBtn {
  cursor: pointer;
  background-color: #2a9f97;
  border: none;
  color: #eeeeee;
  font-size: 1.2rem;
  font-family: "Lusitana";
  margin-top: 10px;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}
.indexForm .formDiv .formBtn:hover {
  transition: background-color 0.5s;
  background-color: #24847e;
}
.indexForm .formDiv .formBtn:active {
  transition: background-color 0s;
  background-color: #0e625d;
}
.indexForm .formDiv .error {
  margin: 0;
  margin-top: 1vh;
  padding: 0;
  font-size: 1.1rem;
  color: #f93a3a;
}
.indexForm .formDiv p {
  font-size: 1.1rem;
}
.indexForm .formDiv .back {
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
  padding: 0;
  font-size: 1.1rem;
}
.indexForm .formDiv .back:hover {
  color: #03afbc;
}
.indexForm .formDiv .successMsg {
  font-size: 1.1rem;
  background-color: #0e625d;
  box-shadow: 0 0 6px #2a9f97;
}
.indexForm .formDiv span {
  cursor: pointer;
}
.indexForm .formDiv span:hover {
  color: #03afbc;
}

.mainLayout {
  display: flex;
  background-color: #b4cecc;
  height: auto;
  margin: 0;
  padding: 0;
  min-height: 100vw;
  width: 100vw;
}
.mainLayout .pageContent {
  margin-top: 6vh;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  color: #303333;
}

.greybox {
  display: flex;
  background-color: #535857;
  margin: 0;
  margin-bottom: 2vh;
  padding: 0;
  border-radius: 8px;
  width: 100%;
  color: #eeeeee;
  height: auto;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1vh;
}
.greybox .infoList {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 1vw;
  padding-right: 1vw;
  list-style: none;
}
.greybox .infoList li {
  margin: 0;
  padding: 0;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-top: 1vh;
  font-size: 1.2rem;
}
.greybox .infoList p {
  margin: 0;
  margin-right: 2vw;
  font-size: 1.2rem;
}

.navHeader {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  background-color: #03919b;
  color: #eeeeee;
  display: flex;
  height: 5vh;
  flex-wrap: wrap;
  width: 100%;
}
.navHeader .navbar {
  padding-left: 30%;
  width: 70%;
  max-height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}
.navHeader .navbar ul {
  cursor: pointer;
  width: 80%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  transform: scale(1);
}
.navHeader .navbar ul li {
  font-size: 1.2rem;
  padding: 0.5rem;
}
.navHeader .navbar ul li .navLink {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #eeeeee;
}
.navHeader .navbar ul li .navLink:hover {
  font-weight: bold;
  color: #303333;
}
.navHeader .userSection {
  width: 30%;
  max-height: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 2vw;
  justify-content: flex-end;
}
.navHeader .userSection p {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  margin-right: 1vw;
  text-overflow: ellipsis;
}
.navHeader .userSection button {
  cursor: pointer;
  background-color: #687271;
  color: #eeeeee;
  border: none;
  height: 80%;
  width: auto;
  font-family: "Lusitana";
  font-size: 1.1rem;
  border-radius: 5px;
}
.navHeader .userSection button:hover {
  transition: background-color 0.5s;
  background-color: #535857;
}
.navHeader .userSection button:active {
  transition: background-color 0s;
  background-color: #303333;
}

.category {
  background-color: #303333;
  width: auto;
  height: 30px;
  border-radius: 5px;
  margin-right: 0.5vw;
  margin-top: 1vh;
}
.category p {
  margin: 0;
  padding: 3px;
}

.newCategory {
  background-color: #2a9f97;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: auto;
  border-radius: 5px;
  font-family: "Lusitana";
  font-size: 1.1rem;
  color: #eeeeee;
  cursor: pointer;
  margin-top: 1vh;
}
.newCategory p {
  margin: 0;
  padding: 0;
}
.newCategory:hover {
  transition: background-color 0.5s;
  background-color: #24847e;
}
.newCategory:active {
  transition: background-color 0s;
  background-color: #0e625d;
  box-shadow: 0 0 6px #2a9f97;
}

.categoryForm {
  height: 30px;
  display: flex;
  background-color: #2a9f97;
  align-items: center;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 5px;
  justify-content: flex-start;
  margin-top: 1vh;
}
.categoryForm input {
  height: 20px;
  border: none;
  border-radius: 5px;
  font-family: "Lusitana";
}
.categoryForm button {
  height: 25px;
  width: 40px;
  color: #eeeeee;
  margin-left: 1vw;
  border-radius: 5px;
  background-color: #2a9f97;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
.categoryForm button:hover {
  transition: background-color 0.5s;
  background-color: #24847e;
}
.categoryForm button:active {
  transition: background-color 0s;
  background-color: #0e625d;
  box-shadow: 0 0 6px #2a9f97;
}
.categoryForm button p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.optionDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2vh;
  height: auto;
  box-sizing: border-box;
}
.optionDiv button {
  cursor: pointer;
  border: none;
  height: 30px;
  width: auto;
  border-radius: 5px;
  color: #eeeeee;
  font-family: "Lusitana";
  font-size: 1.1rem;
}
.optionDiv .dualButton {
  background-color: #535857;
  border-radius: 5px;
  height: 30px;
  width: auto;
}
.optionDiv .buttonActive {
  background-color: #03919b;
}
.optionDiv .buttonActive:hover {
  transition: background-color 0.5s;
  background-color: #24847e;
}
.optionDiv .buttonActive:active {
  transition: background-color 0s;
  background-color: #0e625d;
  box-shadow: 0 0 6px #2a9f97;
}
.optionDiv .buttonStatic {
  background-color: #03919b;
}
.optionDiv .buttonIgnored {
  background-color: #535857;
}
.optionDiv .buttonIgnored:hover {
  color: #03afbc;
}
.optionDiv .searchDiv {
  background-color: #535857;
  height: 30px;
  border-radius: 5px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eeeeee;
  font-size: 1.1rem;
}
.optionDiv .searchDiv .filterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.optionDiv .searchDiv .filterItem input {
  margin-left: 0.5vw;
  border-radius: 5px;
  margin-right: 0.5vw;
}
.optionDiv .searchDiv .searchItem input {
  width: 20vw;
}

.tableContainer {
  overflow-x: scroll;
}
.tableContainer ::-webkit-scrollbar {
  height: 50px;
  background-color: blue;
}
.tableContainer ::-webkit-scrollbar-track {
  background-color: #303333;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 8px 8px 0px 0px;
  color: #eeeeee;
}
table tr {
  width: 100%;
}
table tr:nth-child(even) {
  background-color: #535857;
}
table tr:nth-child(odd) {
  background-color: #687271;
}
table th {
  background-color: #03919b;
  min-width: 10vw;
  height: 40px;
  font-size: 1.1rem;
  font-weight: normal;
}
@media (orientation: portrait) {
  table th {
    min-width: 25vw;
  }
}
table td {
  padding-left: 0.5vw;
  padding-right: 1vw;
  text-align: center;
  min-width: 5vw;
  height: 35px;
  font-size: 0.9rem;
  min-height: auto;
}
table .cellBtnDiv {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: flex-end;
  max-width: auto;
}
table .cellBtnDiv button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #03919b;
  color: #eeeeee;
  width: auto;
  height: 25px;
  margin-left: 0.5vw;
}
table .cellBtnDiv button:hover {
  transition: background-color 0.5s;
  background-color: #24847e;
}
table .cellBtnDiv button:active {
  transition: background-color 0s;
  background-color: #0e625d;
  box-shadow: 0 0 6px #2a9f97;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.isOpen {
  display: flex;
}

.modalContainer {
  background-color: green;
  display: flex;
  width: 40vw;
  height: auto;
  flex-direction: column;
  color: #eeeeee;
  border-radius: 10px;
  overflow: hidden;
}
@media (orientation: portrait) {
  .modalContainer {
    width: 80vw;
  }
}
.modalContainer .modalBar {
  background-color: #03919b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.modalContainer .modalBar .titleDiv {
  width: 80%;
  padding-left: 5vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer .modalBar .titleDiv h1 {
  font-size: 1.3rem;
  font-weight: normal;
  justify-self: center;
  box-sizing: border-box;
}
.modalContainer .modalBar .xDiv {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modalContainer .modalBar .xDiv button {
  background-color: #03919b;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-family: "Lusitana";
  font-size: 1.1rem;
  margin-right: 0.5vw;
  color: #eeeeee;
}
.modalContainer .modalBar .xDiv button:hover {
  transition: background-color 0.5s;
  background-color: #24847e;
}
.modalContainer .modalBar .xDiv button:active {
  transition: background-color 0s;
  background-color: #0e625d;
}
.modalContainer .modalContent {
  background-color: #535857;
  height: auto;
  min-height: 10vh;
}

.modalP {
  font-size: 1.2rem;
}

body {
  font-family: "Lusitana";
  margin: 0;
  padding: 0;
}

.indexMain {
  background-color: #03919b;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  margin: 0;
  padding: 0;
  margin-left: 2vw;
  padding-top: 5px;
}

hr {
  padding: 0;
  margin: 0;
  margin-bottom: 1vh;
}

/*# sourceMappingURL=main.css.map */
